.card {
    // functionality 
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 44rem;
    margin-left: 2rem;
    box-shadow:  0 3rem 6rem rgba($color-black, .2);
    
 

    &__side {
        height: 44rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        
        border-radius: 3px;
        overflow: hidden;
        

        &--front {
            background-color: $color-blue-dark;
        }
// BACK OF CARD
        &--back {
            transform: rotateY(180deg);
            background-color: $color-blue-dark;
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    // front side styling  - picture for front of the card

    

    &__picture {
        background-size: cover;
        height: 26rem;
        background-blend-mode: screen;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
        &--1 {
            background-image: url('../../img/bikes.png');
        }

        &--2 {
            background-image: url('../../img/softball.png');
        }
       
        &--3 {
            background-image: url('../../img/commerce.png');
        }
        &--4 {
            background-image: url('../../img/github1.png');
        }
        &--5 {
            background-image: url('../../img/dashboard1.png');
        }
        &--6 {
            background-image: url('../../img/books1.png');
        }

    }

    // picture for the back of card
    &__pictureback {
        background-size: cover;
        height: 26rem;
        background-blend-mode: screen;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1 {
            background-image: url('../../img/bikes2.png');
        }

        &--2 {
            background-image: url('../../img/softball2.png');
        }
       
        &--3 {
            background-image: url('../../img/commerce2.png');
        }
        &--4 {
            background-image: url('../../img/github2.png');
        }
        &--5 {
            background-image: url('../../img/dashboard2.png');
        }
        &--6 {
            background-image: url('../../img/books2.png');
        }

    }

    &__detailsback {
        padding: 1rem; 
        margin-top: 2.5rem;
        text-align: center;
        
    }

    &__details {
        padding: 1rem;
        margin-left: .5rem;
        color: $color-white;


        ul {
            list-style: none;
            width: 85%;
            margin: 0 auto;
            
            li {
                text-align: center;
                font-size: 1.5rem;
                padding:.4rem;

               
            }
        }
    }

 
    








    @include respond(tab-port) {
 
        height:auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            
            height: auto;
            position: relative;
            
        
            &--back {
                transform: rotateY(0);
              
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

       
    }
}
